{% load static %}
    

{% comment %} <div class="hero-main-footer">
    <div class="hero-sect">
       <div class="sect1">
        <p class="welcome-msg" data-aos="fade-up">WELCOME TO QUDROID BLOG</p>
       </div>
       <div class="sect2">
        <div class="sect-img-body">
          <img src=" {% static '/image/hero-bg.png' %}" style="width: 100%; height: 100%;" alt="">
        </div>
       </div>
    </div>
      {% endcomment %}
      <div class="category-sect">
      <div class="card card1" data-aos="fade-right">a</div>
      <div class="card card2" data-aos="fade-right">b</div>
      <div class="card card3" data-aos="zoom-in">c</div>
      <div class="card card4" data-aos="fade-left">d</div>
      <div class="card card5" data-aos="fade-left">e</div>
    </div>

    <main class="">

    </main>
</div>



</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
AOS.init();
</script>
</body>
</html>