{% extends "master.html" %}

{% block 'main' %}

  <div class="category-sect">
              
    <div class="card card1" data-aos="fade-right">a</div>
    <div class="card card2" data-aos="fade-right">b</div>
    <div class="card card3" data-aos="zoom-in">c</div>
    <div class="card card4" data-aos="fade-left">d</div>
    <div class="card card5" data-aos="fade-left">e</div>

  </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
      
    {% endblock 'main' %}      
</body>
</html>